<?xml version="1.0"?>
<launch>
  <!-- simulation -->
  <include file="$(find simulation)/launch/simulation.launch"/>  

  <!-- Perception -->
  <include file="$(find perception_pkg)/launch/perception.launch"/>  
 
  <!-- RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find perception_pkg)/cfg/global_map_2.rviz"/>
 
</launch>