<launch>

<!-- MoveBaseSeq node launch and Points Sequence ROS Parameters Loading -->

    <!--Run move_base_seqs node-->
        <node pkg="simple_navigation_goals" type="move_base_seq" name="move_base_seq" output="screen" respawn="false">
        
        <!-- Load Sequence of Points (Cartesian Coordinates wrt "map" RF, in meters) -->
            <rosparam param="p_seq">[
            -25,-60,0.40, -52,-25,0.40, -52,-0,0.40, -52,20,0.40, 
            -51,40,0.40,  -51,60,0.40,  -51,80,0.40, -51,100,0.40, 
            -51,120,0.40, -51,140,0.40, -51,160,0.40, -51,180,0.40,
            -51,200,0.40]</rosparam>
        <!-- Load Sequence of Desired Yaw Angles (no rotations around x and y axes) in degrees-->
            <rosparam param="yea_seq">[90,90,90,90,90,90, 90, 90, 90, 90, 90, 90,
            90,90,90,90,90,90, 90, 90, 90, 90, 90, 90]</rosparam>

        </node>

</launch>

