<launch>

<!-- MoveBaseSeq node launch and Points Sequence ROS Parameters Loading -->

    <!--Run move_base_seqs node-->
        <node pkg="simple_navigation_goals" type="move_base_seq" name="move_base_seq" output="screen" respawn="false">
        
        <!-- Load Sequence of Points (Cartesian Coordinates wrt "map" RF, in meters) -->
            <rosparam param="p_seq">[
            -25,-63,0.40,     <!-- Goal 1-->
            -49.8,-38.3,0.40, <!-- Goal 2: 1st curve-->
            -54,-2.7,0.40,    <!-- Goal 3-->
            -52,4,0.40,       <!-- Goal 4-->
            -52.4,31.3,0.40,  <!-- Goal 5-->
            -52.4,60.2,0.40,  <!-- Goal 6-->
            -52.4,91,0.40,    <!-- Goal 7-->
            -52.4,116,0.40,   <!-- Goal 8-->
            -48,121,0.40,     <!-- Goal 9: 2nd Curve-->
            -39,121,0.40,     <!-- Goal 10 -->
            -30,121,0.40,     <!-- Goal 11-->
            -5.0,130,0.40,    <!-- Goal 12: 3rd curve-->
            -4.0,135,0.40,    <!-- Goal 13-->
            -4.0,170,0.40,    <!-- Goal 14-->
            -4.0,200,0.40,    <!-- Goal 15-->
            -9.0,230,0.40,    <!-- Goal 16: 4th Curve -->
            -45,221,0.40,     <!-- Goal 17 -->
            -52.4,181,0.40,   <!-- Goal 18: 5th Curve-->
            -52.4,66,0.40,    <!-- Goal 19-->
            -47.9,47,0.40,    <!-- Goal 20: 6th Curve -->
            -19.3,47,0.40,  <!-- Goal 21-->
            -10,45,0.40,     <!-- Goal 22: 7th Curve-->
            -6,30, 0.40,    <!-- Goal 23-->
            -5,10,0.4,     <!-- Goal 24-->
            -3.1,-28.7,0.40,  <!-- Goal 25-->
            -3.3,-62.3,0.40   <!-- Goal 26-->
            ]</rosparam>
        <!-- Load Sequence of Desired Yaw Angles (no rotations around x and y axes) in degrees-->
            <rosparam param="yea_seq">[90,90,90,90,90,90, 90, 90, 90, 90, 90, 90,
            90,90,90,90,90,90, 90, 90, 90, 90, 90, 90, 90, 90]</rosparam>

        </node>

</launch>

